

@media (max-width: 1019px) {
    .idc-section {
        position: relative;
        max-width: 610px;
        margin: 0 auto;
    }
    .idc-container {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .idc-swiper {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .idc-about .idc-arial-24 {
        max-width: 100%;
        margin-top: 33px;
    }
    /* *************pluses ************ */
    .idc-pluse {
        margin-left: 48px;
    }
    .idc-pluses .idc-title {
        max-width: 45vw;
    }
    .idc-buttons{
        top: calc(50% + 35px);
    }
}
@media (max-width: 699px) {
    .idc-section {
        max-width: 100%;
    }
    .idc-title {
        font-size: 20px;
        line-height: 24px;
    }
    /* *************head************ */
    .idc-head .idc-container {
        height: 340px;
    }

    /* *************about************ */
    .idc-about .idc-title {
        max-width: 90vw;
        font-size: 6.3vw;
        line-height: 7.5vw;
    }
    .idc-about .idc-arial-24 {
        margin-top: 20px;
        font-size: 5vw;
        line-height: 6.5vw;
    }
    .idc-about .idc-arial-15 {
        margin-top: 20px;
        font-size: 3vw;
        line-height: 4vw;
    }
    /* *************info************ */
    .idc-info .idc-title {
        font-size: 7.5vw;
        line-height: 8.5vw;
    }

    .idc-info p > strong {
        line-height: 110%;
        font-size: 5vw;
        line-height: 6.1vw;
    }
    .idc-info ul li {
        font-size: 14px;
        line-height: 140%;
        padding-left: 33px;
    }
    .idc-info ul:last-child li {
        padding-left: 30px;
    }
    .idc-info ul:last-child li {
        max-width: 80vw;
    }
    .idc-info ul:last-child li:nth-child(1),
    .idc-info ul:last-child li:nth-child(7) {
        max-width: 50vw;
    }
    .idc-info ul:last-child li:nth-child(1) {
        max-width: 70vw;
    }
    /* *************pluses ************ */
    .idc-pluses .idc-title {
        font-size: 28px;
        line-height: 26px;
        max-width: 75vw;
    }
    .idc-pluses-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;-webkit-box-align: start;-ms-flex-align: start;align-items: flex-start;
    }
    .idc-pluse {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;

    }
    .idc-pluse__icon {
        width: 114px;
        height: 100px;
    }
    .idc-pluse .idc-arial-24 {
        font-size: 20px;
        line-height: 26px;
    }
    .idc-pluse .idc-arial-15 {
        font-size: 15px;
        line-height: 19px;
    }
    .idc-pluse-text{
        max-width: 160px;
        margin-left: 12px;
    }
    /* *************footer*********** */
    .idc-info .idc-container {
        padding-top: 50px;
        padding-bottom: 80px;
    }
    .idc-footer .idc-title {
        font-size: 7.5vw;
        line-height: 8.5vw;
    }
    .idc-swiper {
        margin: 0;
        padding: 0;
        margin-top: 30px;
    }
    .idc-swiper .idc-arial-24 {
        max-width: 90vw;
        font-size: 6.2vw;
        line-height: 8.1vw;
    }
    .idc-swiper .idc-arial-18 {
        margin-top: 15px;
        font-size: 5vw;
        line-height: 6.9vw;
    }
    .idc-swiper-button-prev,
    .idc-swiper-button-next {
        width: 32px;
        height: 32px;
        padding: 9px;
        margin: 0 10px;
    }
    .idc-buttons {
        top: 43.5%;
    }
    .idc-swiper-img {
        height: 57.8vw;
    }
    .idc-swiper-img img {
        display: none;
    }
}
